{%extends 'base.html'%}

{%block content%}
Biz taklif qilamiz
Eng zamonaviy va innovatsion usullarda darslar. Ko'p yillik tajribaga ega malakali o'qituvchilar <br>

Sizdan talab qilamiz
Natijangizni doimiy yaxshilab borishingiz, ko'proq o'z ustingizda ishlashingiz <br>

Doimiy testlar
Har oyning oxrida test topshirib bilimingiz qay darajada yaxshilanganini ko'rish uchun <br>

<center><h1>Bizdagi yo'nalishlar</h1></center>

<h3>Aniq fanlar
    Bu yo'nalishda Matimatika va Fizikaga e'tibor beriladi ko'proq boshqa fanlarga nisbatan va darsdan tashqari qo'shimcha mashg'ulotlar ham shu fanlardan o'tkaziladi
    </h3>

<h3>Tabiiy fanlar
    Bu yo'nalishda Kimyo va Biologiyaga e'tibor beriladi ko'proq boshqa fanlarga nisbatan va darsdan tashqari qo'shimcha mashg'ulotlar ham shu fanlardan o'tkaziladi
    </h3>
<h1>Yutuqlar va Ochiq darslar</h1>

<h1>Litsey ko'rsatgichlari</h1>
<h2>Litsey bitiruvchilarning natijalari 2019</h2>

<ol>
    <li> 
        O'qishga kirish darajasi  84%
        </li>
    <li> 110
        O'qishga kirganlar soni</li>
    <li>130
        Litseyni tamomlaganlar </li>
    <li>5
        Olimpiyada sovrindorlari </li>
</ol>









{%endblock content%}